<ion-header>
  <ion-toolbar>
    <ion-title>ChatDetail</ion-title>

    <ion-buttons slot="start">
      <ion-button href="/home">
        <ion-icon name="arrow-back"></ion-icon>Back</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSH-udClR-g8ag-DVVc-zuwPcfhhu43D3MP3GRxa3M1UjhZG9Ew2Q">
    </ion-avatar>
    <ion-label>
      <h4>Moreno</h4>
      <h6 style="color:grey">Melhor jogador do mundo!</h6>
    </ion-label>
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-note slot="start" style="color:black"> Oi sumida...</ion-note>
    </ion-item>

    <ion-item>
      <ion-note slot="end" style="color:black"> Opah :)</ion-note>
    </ion-item>

    <ion-item>
      <ion-spinner name="dots"></ion-spinner>
    </ion-item>
    
    <ion-item>
      <ion-input placeholder="Nova mensagem"></ion-input>
      <ion-icon name="log-in" slot="end"></ion-icon>
      </ion-item>
  </ion-list>

</ion-content>