<ion-header>
  <ion-toolbar>
    <ion-title>NovoChatModal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        NovoChatModal
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input placeholder="Contato" [(ngModel)]="novo_chat.contato"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="url" [(ngModel)]="novo_chat.url"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="add()">OK</ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>